<!--
Serialization Settings Patch File for Unicorn

This file adds pipeline items to support serializing the content tree to disk in more advanced ways than the default,
specifies which items to auto-serialize, and adds a saveUI handler to prevent overwriting changed serialized files on disk.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<serialization>
			<default>
        <include database="core" path="/sitecore/client"></include>
        
        <include database="master" path="/sitecore/client/Speak"></include>
        <include database="master" path="/sitecore/content"></include>
        
        <include database="master" path="/sitecore/layout/Layouts"></include>
        <include database="master" path="/sitecore/layout/Renderings"></include>
        <include database="master" path="/sitecore/layout/Sublayouts"></include>
        <include database="master" path="/sitecore/templates/User Defined"></include>
			</default>
		</serialization>

		<processors>
			<saveUI>
				<processor patch:before="*[@type='Sitecore.Pipelines.Save.Save, Sitecore.Kernel']" mode="on" type="Unicorn.SerializationConflictProcessor, Unicorn"/>
			</saveUI>
		</processors>

		<events>
			<event name="item:saved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemSaved"/>
			</event>
			<event name="item:copied">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemCopied"/>
			</event>
			<event name="item:renamed">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemRenamed"/>
			</event>
			<event name="item:deleted">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemDeleted"/>
			</event>
			<event name="item:moved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemMoved"/>
			</event>
			<event name="item:versionRemoved">
				<handler type="Unicorn.FilteredItemHandler, Unicorn" method="OnItemVersionRemoved"/>
			</event>
		</events>
	</sitecore>
</configuration>