<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glimpse" version="1.7.0" targetFramework="net45" />
  <package id="Glimpse.AspNet" version="1.5.0" targetFramework="net45" />
  <package id="Glimpse.Mvc4" version="1.4.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Cors" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Sitecore.Glimpse" version="0.4.0" targetFramework="net45" />
  <package id="Sitecore.Glimpse.Mvc4" version="0.4.0" targetFramework="net45" />
  <package id="Sitecore.Services" version="1.0.0.204" targetFramework="net45" />
  <package id="Sitecore.Services.Client" version="1.0.0.99" targetFramework="net45" />
  <package id="Sitecore.Services.Contrib" version="1.0.0.61" targetFramework="net45" />
  <package id="Sitecore.Services.EntityServiceJS" version="1.0.0.37" targetFramework="net45" />
  <package id="Sitecore.Services.ItemServiceJS" version="1.0.0.34" targetFramework="net45" />
  <package id="Sitecore.Ship.AspNet" version="0.3.5" targetFramework="net45" />
  <package id="Speak.bootJS" version="0.1.0.31" targetFramework="net45" />
  <package id="WebActivatorEx" version="2.0.4" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.1.1.0" targetFramework="net45" />
  <package id="YUICompressor.NET.MSBuild" version="2.1.1.0" targetFramework="net45" />
</packages>
