@using Sitecore
@using Sitecore.Configuration
@using Sitecore.Mvc
@using Sitecore.SecurityModel                     
@model Sitecore.Mvc.Presentation.RenderingModel  
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
  @*@{
      using (new SecurityDisabler())
      {
          if (ClientHost.Items.ContextItem != null)
          {
              if (!ClientHost.Items.ContextItem.Access.CanRead())
              {
                  Response.Redirect(SpeakSettings.Login.LoginUrl);
              }
          }
          else
          {
              Response.Redirect(SpeakSettings.Login.LoginUrl);
          }
      }       
  }*@

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

  @Html.Sitecore().Placeholder("Page.Stylesheets")
  @Html.Sitecore().Placeholder("Page.Code")

  <script src="/sitecore/shell/client/Generic/Scripts/binding.min.js"></script>

</head>
<body data-sc-app>
  <script type='text/x-sitecore-pluginscript' data-sc-id="bindingjsPlugin" data-sc-script="/sitecore/shell/client/Generic/Scripts/bindingjsPlugin.min.js"></script>

  @this.Html.Sitecore().Placeholder("Page.Body")  

  <script data-loader-id="/sitecore/shell/client/Generic/Scripts/boot" data-sc-init="init" src="/sitecore/shell/client/Generic/Scripts/loader.min.js"></script>
  <script>
      window.__speak_config = {
          loader: SPEAKloader.use
      };
      function init() {
          console.log('init');
          sitecore.fn = {};
          sitecore.init();
      }
  </script>

  @Html.Sitecore().Placeholder("Page.Scripts")

</body>
</html>