@using Sitecore.Mvc
@using Sitecore.Web.UI
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var control = this.InitializeControl("row");
    var controlId = control.ControlId;
    var htmlAttributes = control.HtmlAttributes;
}

<div class="row" @htmlAttributes data-sc-presenter>
  @this.Html.Sitecore().Placeholder(controlId + ".Content")
</div>