@using System.Web.Http
@using System.Linq
@model Sitecore.Mvc.Presentation.RenderingModel

<div>Simple Controller says that it is @DateTime.Now.ToShortTimeString()</div>

@{
    var assemblyResolver = GlobalConfiguration.Configuration.Services.GetAssembliesResolver();
}

<div>Assembly Resolver : @assemblyResolver.GetType()</div>
<ul>
    @foreach (var assembly in assemblyResolver.GetAssemblies())
    {
        <li>@assembly.FullName</li>
    }
</ul>
