@using Sitecore.Mvc
@using Sitecore.Web.UI
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var control = this.InitializeControl("inputCheckbox");
    var label = control.GetString("Label");
    var hasLabel = label != "" ? true : false;
    var labelBefore = hasLabel ? "<label>" : "";
    var labelAfter = hasLabel ? label + "</label>" : "";
    
}
@this.Html.Raw(labelBefore)<input type="checkbox" data-sc-presenter @control.HtmlAttributes> @this.Html.Raw(labelAfter)