@using Sitecore.Mvc
@using Sitecore.Web.UI
@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var control = this.InitializeControl("inputButton");
    var icon = control.GetString("Icon");
    var iconHtml = "";
    if (!string.IsNullOrEmpty(icon))
    {
        iconHtml = "<i class='fa " + icon + "'></i>";
    }
    
    control.AppendClass(control.GetString("CssClass"));
}

<button @control.HtmlAttributes>@Html.Raw(iconHtml) @control.GetString("Label")</button>